@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&family=Mukta:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c28cff;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #956cc4;
}

.shadow-header {
    background-color: #d4d4d4;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.12);
}
.b {
    background: linear-gradient(
        90deg,
        rgba(202, 3, 252, 0.3),
        rgba(252, 61, 3, 0)
    );
}
.b_alt {
    background: linear-gradient(
        90deg,
        rgba(85, 83, 85, 1),
        rgba(252, 61, 3, 0)
    );
}

.started {
    background-color: blue;
}

.completed {
    background-color: green;
}

.canceled {
    background-color: red;
}
.in_progress {
    background-color: yellow;
}

.active {
    color: rgba(124, 58, 237, 1);
}
