<header
  class="flex flex-row gap-5 p-5 justify-between items-end z-10 sticky top-0 border-b border-b-black shadow-md bg-body"
>
  <h1 class="text-violet-600 text-2xl font-bold">
    Axo<span class="text-stone-600">Proyects</span>
  </h1>
  <button
    class="py-1 px-2 bg-black text-white flex items-center gap-2 transition-colors duration-300 hover:bg-violet-400"
    (click)="message()"
  >
    <ng-icon class="text-lg" name="matHome"></ng-icon> <span>Subscribe</span>
  </button>
</header>
<section
  class="flex flex-col items-center content-center max-w-4xl p-4 md:mx-auto"
>
  <h1 class="font-bold text-4xl text-center my-4">Welcome to Axo Proyect</h1>
  <div class="md:grid md:grid-cols-2 md:place-items-center">
    <div class="font-second flex flex-col gap-4">
      <h2 class="text-2xl font-semibold">What is Axo Proyects?</h2>
      <p class="text-lg">
        Axo proyect is an app that help you to manage your proyects, asign tasks
        to your teams and manage them as well.
      </p>
      <p>Wanna try it? then log in or Sign Up and start using</p>
      <button
        class="py-2 px-7 bg-black text-white flex items-center gap-2 w-max mx-auto transition-colors duration-300 hover:bg-violet-400"
      >
        <ng-icon class="text-xl" name="matPerson2"></ng-icon>
        <span>Subscribe</span>
      </button>
    </div>
    <img
      class="w-44 mx-auto md:w-auto"
      src="assets/axolotl.png"
      alt="axo image"
    />
  </div>
</section>

<section
  class="bg-white flex flex-col items-center content-center max-w-4xl p-4 md:mx-auto"
>
  <h1 class="font-bold text-4xl text-center my-4">Welcome to Axo Proyect</h1>
  <div class="md:grid md:grid-cols-2 md:place-items-center">
    <div class="font-second flex flex-col gap-4">
      <h2 class="text-2xl font-semibold">What is Axo Proyects?</h2>
      <p class="text-lg">
        Axo proyect is an app that help you to manage your proyects, asign tasks
        to your teams and manage them as well.
      </p>
      <p>Wanna try it? then log in or Sign Up and start using</p>
      <button
        class="py-2 px-7 bg-black text-white flex items-center gap-2 w-max mx-auto transition-colors duration-300 hover:bg-violet-400"
      >
        <ng-icon class="text-xl" name="matPerson2"></ng-icon>
        <span>Subscribe</span>
      </button>
    </div>
    <img
      class="w-44 mx-auto md:w-auto"
      src="assets/axolotl.png"
      alt="axo image"
    />
  </div>
</section>

<section
  class="bg-white flex flex-col items-center content-center max-w-4xl p-4 md:mx-auto"
>
  <h1 class="font-bold text-4xl text-center my-4">Welcome to Axo Proyect</h1>
  <div class="md:grid md:grid-cols-2 md:place-items-center">
    <div class="font-second flex flex-col gap-4">
      <h2 class="text-2xl font-semibold">What is Axo Proyects?</h2>
      <p class="text-lg">
        Axo proyect is an app that help you to manage your proyects, asign tasks
        to your teams and manage them as well.
      </p>
      <p>Wanna try it? then log in or Sign Up and start using</p>
      <button
        class="py-2 px-7 bg-black text-white flex items-center gap-2 w-max mx-auto transition-colors duration-300 hover:bg-violet-400"
      >
        <ng-icon class="text-xl" name="matPerson2"></ng-icon>
        <span>Subscribe</span>
      </button>
    </div>
    <img
      class="w-44 mx-auto md:w-auto"
      src="assets/axolotl.png"
      alt="axo image"
    />
  </div>
</section>
